<h2 class="ac-subheader"><%= ENV['AC_SUBHEADER'] %></h2>
<%= form_for @signup, html: { class: "ac-form" } do |f| %>
  <% if @signup.errors.any? %>
    <div class="alert alert-error">
      <a class="close" data-dismiss="alert">×</a>
      <% @signup.errors.full_messages.each do |msg| %>
        <%= content_tag :div, msg, :id => "flash_error" if msg.is_a?(String) %>
      <% end %>
    </div>
  <% end %>

  <div class="control-group">
    <div class="controls">
      <div class="input-append">
        <%= text_field_tag :email, (params[:signup][:email] if params[:signup] or nil), name: 'signup[email]', placeholder: 'Email address', class: 'ac-email span4 btn-large' %>
        <%= submit_tag ENV['AC_SUBMIT_TEXT'].html_safe, class: 'ac-submit btn btn-success btn-large' %>
      </div>
    </div>
  </div>
<% end %>

